{%extends 'Nucleo.html'%} 
{%load static%}

{%block cuerpo%}
<div>
    <div class="row" id="carrusel">
        <div class="col-xs-12">
            <div class="slideshow-container">
                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                    <img class="img-slider" src="{% static 'imagenes/imagen1.jpg' %}" alt="Carrusel 1">
                </div>
                <div class="mySlides fade">
                    <img class="img-slider" src="{% static 'imagenes/imagen2.jpg' %}" alt="Carrusel 2">
                </div>
                <div class="mySlides fade">
                    <img class="img-slider" src="{% static 'imagenes/imagen3.jpg' %}" alt="Carrusel 3">
                </div>
            </div>
        </div>
    </div>
    <div id="titulo">
        Salon de Belleza BeautyStyle
    </div>

    <div class="row">
        <div class="relleno">
            <div class="cosa">
                <p>El cabello es un lienzo en el que materializar la creatividad.</p>
            </div>
            <div class="cosa">
                <p>El método es apreciado internacionalmente, se expresa en técnicas exclusivas.</p>
            </div>
            <div class="cosa">
                <p>El poder del cabello como un arma de seducción sin límites ni restricciones.</p>
            </div>
            <div class="cosa">
                <p>La importancia de la generosidad, la honestidad y la responsabilidad social como pilares de la marca.</p>
            </div>
        </div>
        <section id="section" class="col-xs-12 col-sm-9">
            <div class="galeria">
                <div class="galeria-item">
                    <img class="img-galeria" src="imagenes/cabello2.jpg" alt="">
                    <div class="overlay">
                        <div class="text">Conoce nuestros servicios</div>
                    </div>
                </div>
                <div class="galeria-item">
                    <img class="img-galeria" src="{% static 'imagenes/cabello3.jpg' %}" alt="">
                    <div class="overlay">
                        <div class="text">Conoce nuestros servicios</div>
                    </div>
                </div>
                <div class="galeria-item">
                    <img class="img-galeria" src="imagenes/cabello4.jpg" alt="">
                    <div class="overlay">
                        <div class="text">Conoce nuestros servicios</div>
                    </div>
                </div>
                <div class="galeria-item">
                    <img class="img-galeria" src="{% static 'imagenes/cara2.jpg' %}" alt="">
                    <div class="overlay">
                        <div class="text">Conoce nuestros servicios</div>
                    </div>
                </div>
                <div class="galeria-item">
                    <img class="img-galeria" src="imagenes/cara3.jpg" alt="">
                    <div class="overlay">
                        <div class="text">Conoce nuestros servicios</div>
                    </div>
                </div>
                <div class="galeria-item">
                    <img class="img-galeria" src="imagenes/servicio.jpg" alt="">
                    <div class="overlay">
                        <div class="text">Conoce nuestros servicios</div>
                    </div>
                </div>
                <div class="galeria-item">
                    <img class="img-galeria" src="imagenes/corte1.jpg" alt="">
                    <div class="overlay">
                        <div class="text">Conoce nuestros servicios</div>
                    </div>
                </div>
                <div class="galeria-item">
                    <img class="img-galeria" src="imagenes/peinado.jpg" alt="">
                    <div class="overlay">
                        <div class="text">Conoce nuestros servicios</div>
                    </div>
                </div>
                <div class="galeria-item">
                    <img class="img-galeria" src="imagenes/img3.jpg" alt="">
                    <div class="overlay">
                        <div class="text">Prueba nuestros Productos</div>
                    </div>
                </div>
                <div class="galeria-item">
                    <img class="img-galeria" src="imagenes/img5.jpg" alt="">
                    <div class="overlay">
                        <div class="text">Comenta en nuestras Redes</div>
                    </div>
                </div>
                <div class="galeria-item">
                    <img class="img-galeria" src="imagenes/img1.jpg" alt="">
                    <div class="overlay">
                        <div class="text"></div>
                    </div>
                </div>
                <div class="galeria-item">
                    <img class="img-galeria" src="imagenes/img2.jpg" alt="">
                    <div class="overlay">
                        <div class="text">Conoce nuestros servicios</div>
                    </div>
                </div>
            </div>
        </section>
        <aside class="col-xs-12 col-sm-3">
            <div id="contenedor-mapa">
                <iframe id="iframe-mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2354.2214659145375!2d-70.64946962374266!3d-33.43961542877573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5a23acf82db%3A0x137e827507380444!2sSal%C3%B3n%20de%20Belleza!5e0!3m2!1ses!2scl!4v1567569642694!5m2!1ses!2scl"></iframe>
            </div>
        </aside>
        <div class="container">
            <img src="imagenes/portada2.jpg" alt="Notebook">
            <div class="content">
                <h1>Es lo mejor de la vida</h1>
                <p>El tratamiento y los cuidados son fabulosos, es mi salon favorito</p>
            </div>
        </div>

    </div>
</div>

{%endblock cuerpo%}