{%extends 'Nucleo.html'%}

{%load static%}

{%block cuerpo%}

<div class="formulario">
    <div class="fondo">

        <img src="imagenes/formulario2.jpg" alt="">
        <form class="cuadros-formulario">
            <div id="titulo">
                <h2 id="titulo-formulario">Registrate en nuestro salon</h2>
            </div>
            <div id="labels" class="div-formulario">
                <div id="label-nombres" class="label">
                    <label for="nombres">Nombres:</label>
                </div>
                <div class="label">
                    <label for="paterno">Apellido Paterno:</label>
                </div>
                <div class="label">
                    <label for="materno">Apellido Materno:</label>
                </div>
                <div class="label">
                    <label for="mail">Ingrese su email:</label>
                </div>
                <div class="label">
                    <label for="remail">Re-ingrese su email:</label>
                </div>
                <div class="label">
                    <label for="telefono">Ingrese su telefono:</label>
                </div>
                <div class="label">
                    <label for="contraseña">Ingrese su contraseña</label>
                </div>
                <div id="re-pass" class="label">
                    <label for="reingresecontraseña">Re-ingrese su contraseña</label>
                </div>
            </div>
            <div id="inputs" class="div-formulario">
                <input id="nombres" type="text" placeholder="Ej: Maria Lucía" maxlength="30" name="nombres" required><br/>
                <input id="paterno" type="text" placeholder="Hiriart" maxlength="15" name="paterno" required><br/>
                <input id="materno" type="text" placeholder="Rodríguez" maxlength="15" name="materno" required><br/>
                <input id="mail" type="email" placeholder="ejemplo@gmail.com" name="mail" required><br/>
                <input id="remail" type="email" placeholder="ejemplo@gmail.com" name="remail" required><br/>
                <input id="fono" type="text" placeholder="987654321" maxlength="9" minlength="9" required><br/>
                <input id="pass" type="password" maxlength="20" minlength="8" required><br/>
                <input id="repass" type="password" maxlength="20" minlength="8" required><br/>
                <div class="recuadros">
                    <button id="button-registrar" class="button button2" onclick="alerta()">Aceptar</button>
                </div>
            </div>

        </form>

    </div>
</div>

{%endblock cuerpo%}