{%extends 'Nucleo.html'%} 
{%load static%}

{%block cuerpo%}


        <div>
            <h2 id="reserva"> Reserva tu Hora</h2>
        </div>

        <div class="tabla2">
            <table>
                <colgroup>
                    <col span="6">

                </colgroup>
                <tr>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miercoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sabado</th>
                </tr>
                <tr>
                    <td>09:00-10:30</td>
                    <td>09:00-10:30</td>
                    <td>09:00-10:30</td>
                    <td>09:00-10:30</td>
                    <td>09:00-10:30</td>
                    <td>09:00-10:30</td>
                </tr>
                <tr>
                    <td>10:30-12:00</td>
                    <td>10:30-12:00</td>
                    <td>10:30-12:00</td>
                    <td>10:30-12:00</td>
                    <td>10:30-12:00</td>
                    <td>10:30-12:00</td>
                </tr>
                <td>12:00-13:30</td>
                <td>12:00-13:30</td>
                <td>12:00-13:30</td>
                <td>12:00-13:30</td>
                <td>12:00-13:30</td>
                <td>12:00-13:30</td>
                <tr>
                    <td>No Disponible</td>
                    <td>No Disponible</td>
                    <td>No Disponible</td>
                    <td>No Disponible</td>
                    <td>No Disponible</td>
                    <td>No Disponible</td>
                </tr>
                <tr>
                    <td>15:00-16:30</td>
                    <td>15:00-16:30</td>
                    <td>15:00-16:30</td>
                    <td>15:00-16:30</td>
                    <td>15:00-16:30</td>
                    <td>15:00-16:30</td>
                </tr>
                <tr>
                    <td>16:30-18:00</td>
                    <td>16:30-18:00</td>
                    <td>16:30-18:00</td>
                    <td>16:30-18:00</td>
                    <td>16:30-18:00</td>
                    <td>16:30-18:00</td>
                </tr>
                <tr>
                    <td>18:00-19:30</td>
                    <td>18:00-19:30</td>
                    <td>18:00-19:30</td>
                    <td>18:00-19:30</td>
                    <td>18:00-19:30</td>
                    <td>18:00-19:30</td>
                </tr>
            </table>
            <div class="recuadros">
                <button id="button-registrar" class="button button2" onclick="alerta()">Aceptar</button>
            </div>
        </div>

{%endblock cuerpo%}